header {
    background: none;
    box-shadow: none;
}

#headWrap {
    min-width: 30em;
    width: 35em;
    box-shadow: 0 0 25px black;
}

h1 {
    font-size: 4em;
    margin-top: 15px;
}

ul {
    justify-content: space-between;
}

li {
    margin-right: 10%;
    margin-bottom: 10px;
}

.triangle {
    display: inline;
}

.logos {
    justify-content: flex-end;
    max-width: none;
}

.logos a {
    margin: 0 15px;
}

.logos img {
    box-shadow: 0 0 25px black;
}

.logos img:hover {
    box-shadow: 0 0 20px white;
}

footer {
    padding: 0.5em 15em;
}
