.triangle {
    display: none;
}

h1 {
    font-size: 3em;
}

footer {
    height: 2em;
    flex-direction: row;
}

#storeWrapper {
    max-width: 400px;
    padding: 10em 0 4em 0;
}

#storeWrapper img{
    width: 175px;
    height: 175px;
    margin: 10px;
}

.middle {
    width: 175px;
    height: 175px;
    margin: 10px;
}

article{
    margin-top: 100px;
}