* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #1e1e1e;
    background-size: cover;
    background-image: url('../images/ben.jpg');
    background-position: center;
    background-attachment: fixed;

    grid-template-rows: 150px 100px 3fr 2fr;

    grid-template-columns: repeat(3, 1fr);
    z-index: -3;
}

.preload {
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 10000%;
}

#headWrap, .triangle, .contact, footer {
    box-shadow: 0 0 25px black;
}

header {
    grid-row: 1;

    display: flex;
    grid-column: 1/5;
}

h1 {
    color: white;
    grid-row: 1;
    grid-column: 1/5;

    font-size: 2.5em;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;

    text-shadow: 0 0 5px white;
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

header a:hover {
    text-shadow: 0 0 25px white;
}

ul {
    display: flex;
    justify-content: space-between;

    max-width: 20em;
    /*margin: auto;*/
    margin: 0;
    padding: 0;

}

li {
    list-style: none;
    margin: 0;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 120px solid black;
    transform: rotate(315deg);

    margin-left: -78px;
    margin-top: -37px;

    z-index: -1;

    display: none;
}

article {
    color: white;
    float: right;
    text-shadow: #151515;

    padding: 25px;
    border-radius: 10px;

}

article p {
    font-size: 1em;
    margin-bottom: 1em;
}

.logos {
    padding: 25px;
    grid-row: 2;
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;

    margin-bottom: 4.5em;
}

.logos img {
    height: 100%;
    width: 100%;

    box-shadow: 0 0 25px black;
    border-radius: 50%;
}

.logos img:hover {
    box-shadow: 0 0 25px white;
}

.logos a {
    height: 48px;
    width: 48px;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    background-color: black;
    text-align: center;

    display: flex;
    justify-content: space-around;

    padding: .5em 0;
    flex-direction: column;
    height: 4em;
}

#contactModal article {

    grid-area: modal;

    text-align: right;
}

#contactModal article p {
    margin-top: 2em;

    font-size: 1em;
    text-align: center;
}

.contactButton {
    cursor: pointer;
}

#contactModal article img {
    height: 32px;
    width: 32px;

    cursor: pointer;
}

/*TODO: sort out the menu button*/

.menu {
    border-radius: 0;
}

#img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: -3;
    display: none;
    grid-column: 1/5;
    grid-row: 2/5;
}

#img2 {
    display: none;
    grid-row: 1/4;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: -2;
    display: none;
}

#headWrap {
    background-color: black;
    justify-content: space-around;
    padding: 0 20px 5px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#articleWrapper {
    display: flex;
    align-items: flex-end;
    grid-column: 1/4;
    grid-row: 3/5;
}
#contactModal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: none;

    grid-template-areas: "x x x " "y modal z" "a a a";
}

