* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #1e1e1e;
    background-size: cover;
    background-image: url('../images/ben.jpg');
    background-position: center;
    background-attachment: fixed;

    z-index: -3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#headWrap, .triangle, .contact, footer, iframe, #storeWrapper img {
    box-shadow: 0 0 25px black;
}

#headWrap {
    background-color: black;
    justify-content: space-around;
    padding: 0 20px 5px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
}

h1 {
    color: white;

    font-size: 2.5em;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;

    text-shadow: 0 0 7px white;
    margin: 0;

    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

header a:hover {
    text-shadow: 0 0 25px white;
}

ul {
    display: flex;
    justify-content: space-around;

    width: 100%;
    max-width: 20em;

    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 120px solid black;
    transform: rotate(315deg);

    margin-left: -78px;
    margin-top: -52px;

    z-index: -1;

    display: none;
}

article {
    color: black;
    float: right;
    /*text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5);*/

    border-radius: 10px;
    margin-top: 150px;

    max-width: 40em;
}

span{
    background-color: white;
    padding: 0 2px;
}

article p {
    font-size: 1em;
    margin-bottom: 1em;
}

.logos {
    padding: 25px;
    display: flex;
    justify-content: space-around;

    width: 100%;
    max-width: 400px;
    margin: auto;
}

.logos img {
    height: 100%;
    width: 100%;

    box-shadow: 0 0 25px black;
    border-radius: 50%;
    transition: 0.5s;
}

.logos img:hover {
    box-shadow: 0 0 25px white;
}

.logos a {
    height: 48px;
    width: 48px;
    margin: 0;
}

.fakeFooter {
    min-height: 4em;
    width: 1px;
    display: block;
    box-sizing: border-box;
}

footer {
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    background-color: black;
    text-align: center;

    display: flex;
    justify-content: space-around;

    padding: .5em 0;
    flex-direction: column;
    height: 4em;
}

#contactModal article {

    grid-area: modal;

    text-align: right;
}

#contactModal article p {
    margin-top: 2em;

    font-size: 1em;
    text-align: center;
}

.contactButton {
    cursor: pointer;
}

#contactModal article img {
    height: 32px;
    width: 32px;

    cursor: pointer;
}

#img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: -3;
    grid-column: 1/5;
    grid-row: 2/5;

    position: fixed;
    display: none;
}

#img2 {
    grid-row: 1/4;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;

    position: fixed;
    display: none;
}

#articleWrapper {
    display: flex;

    padding: 0 0.5em 4em 0.5em;
    margin-top: 80px;
}

#contactModal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: none;

    align-items: center;
    justify-content: center;

    transition: 1s;
}

::selection {
    background: grey;
    color: black;
    text-shadow: none;
}

::-moz-selection {
    background: grey;
    color: black;
    text-shadow: none;
}

#contactModal article {
    background-color: black;
    margin: 0;
    padding: 30px;
    box-shadow: 0 0 25px black;
}

#storeWrapper iframe {
    margin: 15px;
}

#storeWrapper {
    max-width: 240px;
    padding: 10em 0 6em 0;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#storeWrapper img {
    width: 110px;
    height: 110px;
    margin: 5px;

    position: relative;

    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    width: 110px;
    height: 110px;
    margin: 5px;

    transition: .5s ease;
    opacity: 0;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;

    background-color: rgba(20, 20, 20, 0.5);
}

#storeWrapper a {
    position: relative;
}

.container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    /*text-shadow: 2px 2px 0 black, -2px -2px 0 black, -2px 2px 0 black, 2px -2px 0 black;*/

    background-color: #000000;
    color: white;
    font-size: 30px;
    padding: 1px;

    text-align: center;
}

strong{
    font-weight: 600;
}